@media (max-width: 700px) {
  .text-box h1 {
    font-size: 5rem;
  }
  .text-box {
    top: 50%;
  }
  .text-box p {
    margin-top: 5rem;
  }
  .text-box .btn {
    margin-top: 5rem;
  }
  .btn-mobile-nav {
    display: block;
    z-index: 999;
  }
  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    opacity: 0;
    transform: translateX(100%);

    pointer-events: none;
    visibility: hidden;
    transition: all 0.5s ease-in;
  }
  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
    color: #333;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
    color: #333;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
    color: #333;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .row {
    flex-direction: column;
  }
  .testimonial-col img {
    margin-left: 0px;
    margin-right: 1.5rem;
  }

  .cta h1 {
    font-size: 2.4rem;
  }
}
