* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  overflow-x: hidden;
}
/*Reusable Code*/
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
  margin-bottom: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}
.grid--center-v {
  align-items: center;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../img/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem;
  align-items: center;
}
.logo-img {
  width: 15rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
}
.main-nav-list li::after {
  content: "";
  width: 0;
  height: 0.2rem;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.main-nav-list li:hover::after {
  width: 100%;
}
.main-nav-link:hover,
.main-nav-link:active {
  cursor: pointer;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 6.2rem;
  letter-spacing: -1.5px;
  line-height: 1.05;
}
.text-box p {
  font-size: 1.6rem;
  margin: 3.2rem;
  line-height: 1.6;
  color: #fff;
}
.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 9px;
  padding: 2.4rem 1.3rem;
  font-size: 2rem;
  background: transparent;
  position: relative;
}

.btn:hover {
  border: 1px solid #fff;
  background-color: #f44336;
  transition: 0.3s;
}

/*Mobile Nav*/
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #fff;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* Course */
.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 10rem;
}
h1 {
  font-size: 3.6rem;
  font-weight: 300;
}
p {
  color: #777;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.2rem;
  padding: 1rem;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.course-col {
  flex-basis: 31%;
  background: rgb(255, 243, 243);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.course-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.campus-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.campus-col img {
  width: 100%;
  display: block;
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover {
  background: rgba(255, 243, 243, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}
.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.facilities-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.facilities-col img {
  width: 100%;
  border-radius: 10px;
}
.facilities-col p {
  padding: 0;
}
.facilities-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

.testimonials {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.testimonial-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 1.5rem;
  cursor: pointer;
  display: flex;
}
.testimonial-col img {
  height: 4rem;
  margin-left: 0.5rem;
  margin-right: 3rem;
  border-radius: 50%;
}
.testimonial-col p {
  padding: 0;
}
.testimonial-col h3 {
  margin-top: 1.5rem;
  text-align: left;
}
.testimonial-col .fa {
  color: #777;
}
.cta {
  margin: 10rem auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/banner2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  text-align: center;
  padding: 10rem 0;
}
.cta h1 {
  color: #fff;
  margin-bottom: 4rem;
  padding: 0;
}
.footer {
  width: 100%;
  text-align: center;
  padding: 30px ©;
}
.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}
.icons .fa {
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
  width: 2.4rem;
  height: 2.4rem;
}

.icons .fa-fb {
  color: #4267b2;
}
.icons .fa-twit {
  color: #1da1f2;
}

.icons .fa-insta {
  color: #c13584;
}
.icons .fa-lin {
  color: #0077b5;
}

.fa-heart-o {
  color: red;
}
